@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
}
*{
	margin:0px;
	}
#main{
	height: 400px;
	width: 100%;
	background-image: url(../images/main.jpg);
	background-repeat:no-repeat;
	}
